.gamesinfo {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   min-width: 400px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0,0,0,0.15);
   
}

thead tr {
    background-color: #0096FF;
    color: #ffffff;
    text-align:left;
    font-weight: bold;

}



th, td {
    padding: 12px 15px;
}

tbody tr{
    border-bottom: 1px solid #dddddd;


}

tr:nth-of-type(even) {
    background: #f3f3f3;

}

tbody tr:last-of-type {
    border-bottom: 2px solid #0096FF;

}


.gamesinfo thead tr {
    background-color: #0096FF;
    color: #ffffff;
    text-align:left;
    font-weight: bold;

}



.gamesinfo th, td {
    padding: 12px 15px;
}

.gamesinfo tbody tr{
    border-bottom: 1px solid #0096FF;


}

.gamesinfo tbody:nth-of-type(even) {
    background: #f3f3f3;

}


#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
}
#pagination a {
    color:black;
    float: left;
    padding: 9px 9px;
    margin: 3px;
    text-decoration: none;
    cursor: pointer;
}
#pagination a.active {
    border-radius: 50%;
    background-color: #4c4a4a;
    color: whitesmoke;
}

#pageNumbersContainer{
    display: flex;
    flex-wrap: wrap;
}
#pageNumbers {
    display: flex;
    padding: 2px;
}

input[type=number]{
    width: 40px;
    height: 25px;
    border: 1px solid lightgray;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    outline: none;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#goToPage {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#goToPage button {
    height: 35px;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #4c4a4a;
    color: whitesmoke;
    cursor: pointer;
}
#entriesDisplayDiv{
    display: flex;
    padding-left: 25px;
}
#entriesDisplayDiv span {
    margin-left: 5px;
    margin-right: 5px;
}


table.gamesinfo th[aria-sort="desc"] span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
  }
  
  table.gamesinfo th[aria-sort="asc"] span::after {
    content: "▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
  }
  
  table.show-unsorted-icon th:not([aria-sort]) button span::after {
    content: "♢";
    color: currentcolor;
    font-size: 100%;
    position: relative;
    top: -3px;
    left: -4px;
  }

  mark { 
    color: black; 
    padding: 5px; 
    background: #9FE2BF
} 